@{
    ViewData["Title"] = "Cardápio - Pizzaria Delícia";
}


<section>
    <h2>Nossas pizzas</h2>
    <div class="pizza-cards">
        <div class="pizza-card">
            <img src="~/img/pizzas/margherita.png" alt="Margherita Pizza">
            <h3>Margherita</h3>
            <p>Tomate, muçarela, manjericão.</p>
        </div>

        <div class="pizza-card">
            <img src="~/img/pizzas/pepperoni.png" alt="Pepperoni Pizza">
            <h3>Pepperoni</h3>
            <p>Pepperoni, queijo, molho de tomate.</p>
        </div>

        <div class="pizza-card">
            <img src="~/img/pizzas/calabresa.png" alt="Calabresa Pizza">
            <h3>Calabresa</h3>
            <p>Calabresa, cebola, queijo, molho de tomate.</p>
        </div>

        <div class="pizza-card">
            <img src="~/img/pizzas/4queijos.png" alt="Quatro Queijos Pizza">
            <h3>Quatro Queijos</h3>
            <p>Muçarela, gorgonzola, parmesão, catupiry.</p>
        </div>
    </div>
</section>


